@model IEnumerable<AUTOsrs.Models.CarImgModel>
@{
    ViewBag.Title = "CarImgList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CarImgList</h2>




@foreach(var m in Model){
<img src="@Url.Content(m.FilePath)" alt="Image" />
}