################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AUTOsrs/bin
/AUTOsrs/obj/Debug
/AUTOsrs/packages
/AUTOsrs.Tests/bin/Debug
/AUTOsrs.Tests/obj/Debug
