@{
    ViewBag.Title ="Home Page";
}





    <div class=" home_section1">
        <div class="section1_left">
            <div class="section1_leftA">
                <h1>Why you should choose us?</h1>
                <h2>Take a look at our quality features</h2>
            </div>
            <div class="section1_leftB">Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get to the phone if you are in the middle of something and you don’t want to miss that important call that could be the start of an exciting new business opportunity, so let us answer it for you.</div>
        </div>
        <div class="section1_right">
            <div class="section1_box">
                <a href="/Anunt/IndexAnunt">
                    <div class="s1_box1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="s1_box2">
                        <div class="s1_box2_a">Look for a car?</div>
                        <div class="s1_box2_b">the best prices for top cars</div>
                    </div>
                    <div class="s1_box3">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="section1_box">
                <a href="/Anunt/CreateAnunt">
                    <div class="s1_box1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="s1_box2">
                        <div class="s1_box2_a">Sell your car right now</div>
                        <div class="s1_box2_b">we guarantee a fast sale of your car</div>
                    </div>
                    <div class="s1_box3">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="section1_box">
                <a href="/">
                    <div class="s1_box1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="s1_box2">
                        <div class="s1_box2_a">Repair and inspection</div>
                        <div class="s1_box2_b">make an appointment right now</div>
                    </div>
                    <div class="s1_box3">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
            <div class="section1_box">
                <a href="/">
                    <div class="s1_box1">
                        <i class="fa fa-gear"></i>
                    </div>
                    <div class="s1_box2">
                        <div class="s1_box2_a">And we sell cars</div>
                        <div class="s1_box2_b">we bring cars from abroad and repair them</div>
                    </div>
                    <div class="s1_box3">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

